@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
	background-color:#9bff8f;
}

/* Inicio Sidebar */

.sidebar {
  position: absolute;
  left: -250px;
  
  height: 100%;
  background: #027538;
  transition: all .5s ease;	
}
.sidebar header {
  font-family:Cinzel;
  font-size: 22px;
  color: white;
  line-height: 75px;
  text-align: center;
  background: #027538;
  user-select: none;
}
.sidebar ul a{
  font-family:Cinzel;
  display: block;
  height: 100%;
  width: 100%;
  line-height:65px;
  font-size:17px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .7s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
 
  
}
label #cancel{
  position: absolute; 
  background: black;
  border-radius:10px;
  cursor: pointer;
}
label #btn{
	position:absolute;
    background: #9bff8f;
    border-radius:20px;
    cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: #102600;
  padding: 6px 12px;
  transition: all .5s;
  border-radius:20px;
}
label #cancel{
  position:fixed;
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #80ff7a;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
  
}	
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
  
}
/* Fim Sidebar */
/*Background*/
main{
  background: #027538;
  background-position: center;
  background-size: cover;
  transition: all .5s;
  height:90px;
}

.titulo{
	color:#9bff8f;
	padding:30px;
	font-size:25px;
	text-align: center;
    font-family:Cinzel;
}

.divimg{
	float:right;
	margin-top:23px;
	margin-left:40px;
	margin-right:10px;
}

img{
	border-radius:20px;
}

.conteudo{
	background-color:rgba(0,0,0,0.3);
	padding:70px;
	margin-right:10px;
	margin-left:20px;
	border-radius:20px;

}

.textorecicle{
	font-family:Cinzel;
	margin-left:20px;
}

.textorecicle1{
	font-family:Cinzel;
	font-size:20px;
	margin-right:50px;
}

.titulo1{
	color:#003b0e;
	font-family:Cinzel;
	font-size:40px;
}


table{
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	padding:10px;
	margin: 0 auto;
	text-align:center;
	font-family:Cinzel;
	font-weight:bold;
	font-size:25px;
}



th{
	font-size:35px;
	color:black;
	height:100px;
	background-color:rgba(0,0,0,0.3);
	border-radius:10px;
}

td{
	border:1px solid #000000;
	height:50px;
	width:500px;
}

.azul{
	background:#0079cf;
	color:white;
	font-size:25px;
}
.vermelho{
	background:#8c0000;
	color:white;
}
.verde{
	background:#008c15;	
	color:white;
}
.amarelo{
	background:#bab400;
	color:black;	
}
.preto {
	background:#000000;
	color:white;
}
.laranja{
	background:#ff6600;
	color:white;
}
.branco{
	background:white;
}
.roxo{
	background:#1500ff;
	color:white;
}
.marrom{
	background:#5c2f1e;
	color:white;
}
.cinza{
	background:#7d7d7d;	
}






/*
.center h1{
  text-align: center;
  padding-top: 10px;
  color: black;
  font-family:Cinzel;
}
.center p{
    font-family:Cinzel;
    text-align: center;
    padding-top: 20px;
    font-size:20px;
}
.centralizar{
    width: 70%;
    margin:0 auto;
	color: black;
}
.centerimg{
    text-align: center;
    margin: 0 auto;
}

.h3p{
	font-family:Cinzel;
	color:black;
	text-align:center;
	font-size:19px
}
.lista ul li{
  list-style:disc;
  padding-left: 10%;
  list-style-position: inside;
  font-size: 20px;
}
.centerlista{
  display: inline-block;
  text-align: center;
}
Alinhamento da lista
.lista li:nth-child(odd) { 
  clear:both;               
  float:left;                
  width:40%;
} 
.lista li:nth-child(even) { 
  overflow:auto;
} 
.textoDestaque p{
  color:white; 
  font-size:25px;
}
*/


